body {
    margin: 0;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    font-family: cursive;
}

.form {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin: 10px;
}

.input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    padding: 10px;
    border: solid 3px green;
    color: green;
    border-radius: 5px;
}

.input::placeholder {
    color: lightgray;
    font-family: cursive;
}

.btn {
    background-color: green;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    font-size: 25px;
    font-family: cursive;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.btn:hover {
    filter: brightness(0.8);
}

.score {
    text-align: right;
    color: green;
}